create_subscription with filter throwing error of Unknown element "filter".

Hi @einarnn 

When i did create _subscription with filter ncclient throw errot of Unknown element "filter", but the same filter is working with get and get_config.

```


oc_namespace = {"usr": "urn:o-ran:user-mgmt:1.0"}
oc_select = "/usr:users"
gt = session.get(filter=("xpath", (oc_namespace,oc_select)))
gt
<nc:rpc-reply xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:d888baf1-5efc-4487-aa7c-37257ce691fd"><data xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><users xmlns="urn:o-ran:user-mgmt:1.0"><user><name>oranuser</name><account-type>PASSWORD</account-type><enabled>true</enabled></user><user><name>operator</name><account-type>PASSWORD</account-type><enabled>true</enabled></user><user><name>observer</name><account-type>PASSWORD</account-type><enabled>true</enabled></user><user><name>installer</name><account-type>PASSWORD</account-type><enabled>true</enabled></user></users></data></nc:rpc-reply>



sub = session.create_subscription(filter=("xpath", (oc_namespace,oc_select)))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/vvdn/.local/lib/python3.6/site-packages/ncclient/manager.py", line 251, in execute
    huge_tree=self._huge_tree).request(*args, **kwds)
  File "/home/vvdn/.local/lib/python3.6/site-packages/ncclient/operations/subscribe.py", line 64, in request
    return self._request(node)
  File "/home/vvdn/.local/lib/python3.6/site-packages/ncclient/operations/rpc.py", line 375, in _request
    raise self._reply.error
ncclient.operations.rpc.RPCError: Unknown element "filter".


```

I also had the same issue. Was there any progress on this?

For example, if I try to subscribe with xpath filter of `/o-ran-sync:*`

This is the debug from ncclient...
```
<?xml version="1.0" encoding="UTF-8"?>
<nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:5b4262f6-3ef5-47b7-b123-57c432cf0c10">
  <ns0:create-subscription xmlns:ns0="urn:ietf:params:xml:ns:netconf:notification:1.0">
    <nc:filter xmlns:o-ran-sync="urn:o-ran:sync:1.0" type="xpath" select="/o-ran-sync:*"/>
  </ns0:create-subscription>
</nc:rpc>
```

And the same subscribe request as sent by netopeer2-cli...
```
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="46">
  <create-subscription xmlns="urn:ietf:params:xml:ns:netconf:notification:1.0">
    <filter type="xpath" xmlns:o-ran-sync="urn:o-ran:sync:1.0" select="/o-ran-sync:*"/>
  </create-subscription>
</rpc>
```

Apart from slightly different order in the `filter` tag and the namespace prefixes, they look the same. Yet, the one generated by ncclient gets rejected by the server.

```
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:5b4262f6-3ef5-47b7-b123-57c432cf0c10">
  <rpc-error>
    <error-type>application</error-type>
    <error-tag>operation-failed</error-tag>
    <error-severity>error</error-severity>
    <error-message xml:lang="en">Node "filter" not found as a child of "create-subscription" node.</error-message>
  </rpc-error>
</rpc-reply>
```

Actually, I think I see the problem now. The filter is using namespace "nc", shouldn't it be namespace "ns0" (i.e. "urn:ietf:params:xml:ns:netconf:notification:1.0")?

```<?xml version="1.0" encoding="UTF-8"?>
<nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:5b4262f6-3ef5-47b7-b123-57c432cf0c10">
  <ns0:create-subscription xmlns:ns0="urn:ietf:params:xml:ns:netconf:notification:1.0">
    <nc:filter xmlns:o-ran-sync="urn:o-ran:sync:1.0" type="xpath" select="/o-ran-sync:*"/>
  </ns0:create-subscription>
</nc:rpc>
```

I'm not sure how to fix it though.

Hi all,

I also ran into this issue and identified the root cause. As @sjd-xlnx correctly indicated, it seems that the XML namespace for the filter is incorrect.

# The Bug
According to [IETF RFC5277 Section 4 (XML Schema for Event Notifications)](https://datatracker.ietf.org/doc/html/rfc5277#section-4), the filter element **MUST** have the namespace set to exactly the following, or a syntactical equivalent of it:

`xmlns='urn:ietf:params:xml:ns:netconf:notification:1.0'`

However, as indicated above, the filter element that is generated has the XML namespace as follows (or at least, a syntactical equivalent as detailed by other commenters above):
`xmlns='urn:ietf:params:xml:ns:netconf:base:1.0'`

## Reproduction Script
Here's how to reproduce. Basically, if you call this with a tuple, regardless of your chosen type (`xpath` or `subtree`), you'll run into this bug:

```
# This filter should show me alarm event notifications that relate to the resource "my-resource". Semantics of this depend on your YANG model and NETCONF server implementation.
my_filter = """<alarm-notification xmlns='urn:ietf:params:xml:ns:yang:ietf-alarms'><resource>my-resource</resource></alarm-notification>"""

with manager.connect(host=my_host_here, port=my_port_here, username=my_username_here, password=my_password_here, hostkey_verify=False) as m:
     print("Now creating subscription...")
     m.create_subscription(filter=('subtree', my_filter))
     # RPCError will be returned by NETCONF server you are connected to. Complaint will be: "Invalid element: 'filter'" or similar.


     print("Now awaiting notification...")
     notif = m.take_notification()
     print("Notification received! Dumping below:\n" + notif.notification_xml)

```

# The Workaround
When `create_subscription` is called, it can be called with a tuple like `(filter_type, filter_criteria)` if the user doesn't want to define the filter element themselves.

Thankfully, `create_subscription` can also be called with a raw XML, in which the user defines the `filter` element themselves. So, if you need to create a subscription with a filter, just have to call it with the `filter` element of the request XML passed in directly.

Example:
```
# This filter will show me alarm event notifications that relate to the resource "my-resource". Semantics of this depend on your YANG model and NETCONF server implementation.
my_filter = """<filter xmlns='urn:ietf:params:xml:ns:netconf:notification:1.0' type="subtree"><alarm-notification xmlns='urn:ietf:params:xml:ns:yang:ietf-alarms'><resource>my-resource</resource></alarm-notification></filter>"""

with manager.connect(host=my_host_here, port=my_port_here, username=my_username_here, password=my_password_here, hostkey_verify=False) as m:
     print("Now creating subscription...")
     m.create_subscription(filter=my_filter)

     print("Now awaiting notification...")
     notif = m.take_notification()
     print("Notification received! Dumping below:\n" + notif.notification_xml)

```

Contributors please fix!!!! If no one does I might just have become a contributor myself and do it