hello message may be send with chunked framing

I run into issue while developing custom netconf server based on https://github.com/choppsv1/netconf/ and testing it with ncclient. Apparently there is a race condition in hello exchange of ncclient and it may end up sending it's hello encoded with chunked framing rather than standard "]]>]]". Bellow is log from session with ncclient 0.6.9:

```
DEBUG:sshutil.server:NetconfSSHServer(port=8300): Accepting connections
DEBUG:ncclient.transport.ssh:userauth is OK
DEBUG:paramiko.transport:Auth request (type=password) service=ssh-connection, username=assetuser
INFO:paramiko.transport:Auth granted (password).
INFO:ncclient.transport.ssh:Authentication (password) successful!
DEBUG:ncclient.transport.ssh:[chan 0] Max packet in: 32768 bytes
DEBUG:paramiko.transport:[chan 0] Max packet in: 32768 bytes
DEBUG:paramiko.transport:[chan 0] Max packet out: 32768 bytes
DEBUG:paramiko.transport:Secsh channel 0 (session) opened.
DEBUG:ncclient.transport.ssh:[chan 0] Max packet out: 32768 bytes
DEBUG:ncclient.transport.ssh:Secsh channel 0 opened.

DEBUG:netconf.server:NetconfServerSession: Creating session-id 1
DEBUG:netconf.base:NetconfServerSession(sid:1): Sending HELLO
DEBUG:netconf.base:Sending message (308): <hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><capabilities><capability>urn:ietf:params:netconf:base:1.0</capability><capability>urn:ietf:params:netconf:base:1.1</capability><capability>urn:ietf:params:netconf:capability:yang-library:1.1</capability></capabilities><session-id>1</session-id></hello>

DEBUG:ncclient.transport.ssh:[chan netconf-subsystem-0] Sesch channel 0 request ok
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] installing listener <ncclient.transport.session.NotificationHandler object at 0x7fa3ec12d0d0>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] installing listener <ncclient.transport.session.HelloHandler object at 0x7fa3ec12d790>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] queueing <?xml version="1.0" encoding="UTF-8"?><nc:hello xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"><nc:capabilities><nc:capability>urn:ietf:params:netconf:base:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:base:1.1</nc:capability><nc:capability>urn:ietf:params:netconf:capability:writable-running:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:candidate:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:confirmed-commit:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:rollback-on-error:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:startup:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:url:1.0?scheme=http,ftp,file,https,sftp</nc:capability><nc:capability>urn:ietf:params:netconf:capability:validate:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:xpath:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:notification:1.0</nc:capability><nc:capability>urn:liberouter:params:netconf:capability:power-control:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:interleave:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:with-defaults:1.0</nc:capability></nc:capabilities></nc:hello>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] starting main loop
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] selector type = EpollSelector
DEBUG:ncclient.transport.parser:[host 127.0.0.1 session 0x7fa3ecc4f5e0] parsing netconf v1.0
INFO:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] Received message from host
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] Received:
<?xml version="1.0" encoding="UTF-8"?><hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><capabilities><capability>urn:ietf:params:netconf:base:1.0</capability><capability>urn:ietf:params:netconf:base:1.1</capability><capability>urn:ietf:params:netconf:capability:yang-library:1.1</capability></capabilities><session-id>1</session-id></hello>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] dispatching message to different listeners: <?xml version="1.0" encoding="UTF-8"?><hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><capabilities><capability>urn:ietf:params:netconf:base:1.0</capability><capability>urn:ietf:params:netconf:base:1.1</capability><capability>urn:ietf:params:netconf:capability:yang-library:1.1</capability></capabilities><session-id>1</session-id></hello>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session 0x7fa3ecc4f5e0] dispatching message to listener: <ncclient.transport.session.HelloHandler object at 0x7fa3ec12d790>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] dispatching message to listener: <ncclient.transport.session.NotificationHandler object at 0x7fa3ec12d0d0>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] discarding listener <ncclient.transport.session.HelloHandler object at 0x7fa3ec12d790>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] After 'hello' message selecting netconf:base:1.1 for encoding
INFO:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] initialized: session-id=1 | server_capabilities=<dict_keyiterator object at 0x7fa3ec138310>
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] installing listener <ncclient.operations.rpc.RPCReplyListener object at 0x7fa3ec180df0>
INFO:ncclient.operations.rpc:[host 127.0.0.1 session-id 1] Requesting 'Get'
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] queueing <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:8ad818f7-3643-4116-ba0c-05b11d65e554"><nc:get><filter type="subtree" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><yang-library xmlns="urn:ietf:params:xml:ns:yang:ietf-yang-library"><module-set><module><name></name></module></module-set></yang-library></filter></nc:get></nc:rpc>
DEBUG:ncclient.operations.rpc:[host 127.0.0.1 session-id 1] Sync request, will wait for timeout=30
DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] Sending message
INFO:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] Sending:

#1278
<?xml version="1.0" encoding="UTF-8"?><nc:hello xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"><nc:capabilities><nc:capability>urn:ietf:params:netconf:base:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:base:1.1</nc:capability><nc:capability>urn:ietf:params:netconf:capability:writable-running:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:candidate:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:confirmed-commit:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:rollback-on-error:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:startup:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:url:1.0?scheme=http,ftp,file,https,sftp</nc:capability><nc:capability>urn:ietf:params:netconf:capability:validate:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:xpath:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:notification:1.0</nc:capability><nc:capability>urn:liberouter:params:netconf:capability:power-control:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:interleave:1.0</nc:capability><nc:capability>urn:ietf:params:netconf:capability:with-defaults:1.0</nc:capability></nc:capabilities></nc:hello>
##

DEBUG:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] Sending message
INFO:ncclient.transport.ssh:[host 127.0.0.1 session-id 1] Sending:

#400
<?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:8ad818f7-3643-4116-ba0c-05b11d65e554"><nc:get><filter type="subtree" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"><yang-library xmlns="urn:ietf:params:xml:ns:yang:ietf-yang-library"><module-set><module><name></name></module></module-set></yang-library></filter></nc:get></nc:rpc>
##
```

So ncclient queues it's hello message, receives server's hello, immediately switches to chunked framing and only then sends own hello, now with chunked framing. After that the session gets stuck and will eventually time out because server is never able to read  chunked framing hello message. This behavior depends on timing, in my test both sever and ncclient are running from the same process which causes issue to reproduce in about half of runs. I've also retested with latest ncclient 0.6.12, but it fails exactly the same.


I encountered the same question.
Any get request to connected netconf server raise timeout exception even the expeceted xml return is not huge.

@saluena maybe you can try this to fix the problem:
`
from ncclient.devices.default import DefaultDeviceHandler
DefaultDeviceHandler._BASE_CAPABILITIES.remove("urn:ietf:params:netconf:base:1.1")
`
It removes capability netconf:base:1.1 from client capabities clarifing. Then after the exchange of hello message ncclient will not choose 1.1 as its basic principle ans ']]>]]>' will be used as message delimeter.

RFC 6242 and RFC 7589 both mention:

> The NETCONF <hello> message MUST be followed by the character
   sequence ]]>]]>.  Upon reception of the <hello> message, the peers
   inspect the announced capabilities.  If the :base:1.1 capability is
   advertised by both peers, the chunked framing mechanism defined in
   [Section 4.2 of [RFC6242]](https://datatracker.ietf.org/doc/html/rfc6242#section-4.2) is used for the remainder of the NETCONF
   session.  Otherwise, the old end-of-message-based mechanism (see
   [Section 4.3 of [RFC6242]](https://datatracker.ietf.org/doc/html/rfc6242#section-4.3)) is used.

My guess is that this part causes the issue

https://github.com/ncclient/ncclient/blob/ad88686f4772ae883109a8f97a26708a352b89b8/ncclient/transport/session.py#L223-L226

`self._base` is at init `NetconfBase.BASE_10` but can be set to `NetconfBase.BASE_11` after receiving the hello of the peer and depending on its capabilities. If a hello of a base 1.1 compliant peer is received before sending its own hello, then chunked mode might be enabled. This needs to be changed to guarantee that hello is always send with a EOM ]]>]]>