edit-config parameters constructed out-of-order

I'm trying to send out an edit_config using the below args
 m.edit_config(target='candidate', config=cfg,test_option="set",default_operation="replace")

But I see the XML order of the packet constructed does not follow the yang definition in RFC-6241

The packet that gets sent out has arguments 

```
<nc:rpc message-id="urn:uuid:7553c040-c1e7-4127-bf9c-ae1bd39da480" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <nc:edit-config>
    <nc:target>
      <nc:candidate/>
    </nc:target>
    <nc:test-option>set</nc:test-option>
    <nc:default-operation>replace</nc:default-operation>
 ...
```

Expected Output is 

```
<nc:rpc message-id="urn:uuid:7553c040-c1e7-4127-bf9c-ae1bd39da480" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <nc:edit-config>
    <nc:target>
      <nc:candidate/>
    </nc:target>
    <nc:default-operation>replace</nc:default-operation>
    <nc:test-option>set</nc:test-option>
 ...
```

RFC Reference:
RFC6020 Section 7.13.4
   Input parameters are encoded as child XML elements to the rpc node's
   XML element, in the same order as they are defined within the "input"
   statement.

RFC6241
https://tools.ietf.org/html/rfc6241#appendix-C

```
   rpc edit-config {
      description
        "The <edit-config> operation loads all or part of a specified
         configuration to the specified target configuration.";

      reference "RFC 6241, Section 7.2";

      input {
        container target {
           ...
        }
        leaf default-operation {
           ...
         }
        leaf test-option {
          ...
        }
        leaf error-option {
          ...
        }
        choice edit-content {
          ...
        }
    }
```


Fixed in commit fce5711f060d1998e23cf6641438c507bd864063.
